.example-card {
  max-width: 400px;
}

mat-card-title {
  font-size: 2rem;
  font-weight: bold;
}

img {
  width: 350px;
  max-height: auto;
}


@media only screen and (max-width: 767px) {
  img {
    width: 200px;
    max-height: auto;
  }
  
  mat-card-title {
    font-size: 1.7rem;
    font-weight: bold;
  }
}